

// .notification {
//   height: 36px;
//   // flex-grow: 0;
//   padding: 9px 17px 11px 14px;
//   border-radius: 4px;
//   background-color: #594cb2 !important;

//   font-family: Work Sans;
//   font-size: 14px;
//   font-weight: normal;
//   font-stretch: normal;
//   font-style: normal;
//   line-height: normal;
//   letter-spacing: normal;
//   text-align: left;
//   color: rgba(255, 255, 255, 0.8);
// }

.datemon-heading-icon {
  display: inline-block;
  color: #16aa58;
  padding-right: 20px;
}

